@import "src/styles/stylesTemplates";
.wrapper__header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo__header {
    display: flex;
    align-items: center;
    margin-left: 16px;
  h4{
    margin-left: 40px;
  }

    .about__app {
      display: flex;
      flex-direction: column;

    }

    span {
      font-size: 11px;
    }
  }

  .about__header{
    display: flex;
    align-items: center;
    margin-right: 30px;
    span{
      font-size: 14px;
      margin-right: 8px;
    }
    img{
      margin-left: 11px;
    }
  }
}